/*==========  Desktop First  ==========*/


@media only screen and (max-width : 1200px){}


@media only screen and (max-width : 992px){}
	

@media only screen and (max-width : 768px){
    header{
        min-height: 400px;
        background-position: 62% 80%;
        background-size: auto;
    }
    
    .link{
        width: 134px;
    }
    
     .link-group{
        bottom: 30px;
    }
    
    h1{
        margin-top: 40px;    
    }
    
}
	

@media only screen and (max-width : 425px){
    
    h1{
        text-align: center;
        margin: 0 auto;
        color: white;
        font-family: Lato;
        font-size: 36px;
    }
    
    .svg1 {
        position: absolute;
        top: 50%;
        left: 5%;
        width: 45px;
        height: 40px;
    }
    
    .svg4{
        position: absolute;
        top: 50%;
        right: 5%;
        width: 45px;
        height: 40px;
    }
     
    .svg3 {
        width: 45px;
        height: 40px;
    }
    
    .svg2{
        width: 45px;
        height: 40px;
    }  
}


@media only screen and (max-width : 320px){
    
    .svg3 {
        right: 25%;
    }
    
    .svg2{
        left: 25%; 
    }        
    
}
	


/*==========  Mobile First  ==========*/


@media only screen and (min-width : 320px){}


@media only screen and (min-width : 480px){}


@media only screen and (min-width : 768px){}


@media only screen and (min-width : 992px){}


@media only screen and (min-width : 1200px){}


