@import "_libs";

/*------header section------*/
header{
    border-top: 1px solid transparent;
    background-image: url(../img/header_bg.png);
    min-height: 850px;
    background-repeat: no-repeat;
    background-position: 62% 80%;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 0 600px rgba(0, 0, 0, 0.33) inset; 
}

 h1{
    text-align: center;
    margin: 70px auto;
    color: white;
    font-family: Lato;
    font-size: 36px;
}

.link-group{
    position: absolute;
    bottom: 70px;
    display: flex;
    width: 320px;
    margin-left: 50%;
    justify-content: space-around;
    transform: translateX(-50%);
}

.link{
    display: inline-block;
    text-align: center;
    line-height: 47px;
    width: 100%;
    height: 47px;
    border-radius: 6px;
    color: white;
    font-family: Lato;
    &:hover{
        text-decoration: none;
        color: white;
    }
}

.blue{
    background-color: #0073ae;
}

.orange{
    background-color: #f80;
}
/*------end section------*/


/*------desctop main section------*/
.main-desctop{
    margin-top: 80px;
    &__title{
        color: #0073ae;
        font-family: Lato;
        font-size: 34px;
        font-weight: 300; 
        text-transform: uppercase;
        text-align: center;
        padding: 20px 0px;
        &:first-child{
            border-right: 1px solid #e6e6e6;
        }
    }
    &__icon{
        margin-bottom: 60px;
        margin-top: 60px;
    }
    &__wrapp{
        margin-top: 20px;
        margin-bottom: 60px;
        border-top: 1px solid #e6e6e6;
    }
    &__descr{
        width: 229px;
        margin: 17px auto;
        text-align: center;
        font-family: Lato;       
        color: #585858;
        line-height: 23px;
    } 
    &__arrow{
        width: 40px;
        height: 40px;
        display: block;
        margin: 35px auto;
    }
}
/*------end section------*/


/*------mobile main section------*/
.main-mobil{
    padding-top: 40px;
}

.card{
    border: 1px solid #ebebeb;
    border-radius: 3px;
    height: 100%;
    padding: 0px;
    background-color: #fff;
    &__descr{
        padding-top: 25px;
        min-height: 100px;
    }
    &__ilustration-wrapp{
     background-color: #f7f7f7;   
    }
    &__ilustration-item{
        width: 100%;
        height: 200px;
        position: relative;
        overflow: hidden;
    }
    &__tab{
        text-align: center;
        color: #0073ae;
        text-transform: uppercase;
        padding: 7px 0px;
        font-family: Lato;
        &:first-child{
            border-right: 1px solid #e6e6e6;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__tab-item{
        padding-bottom: 60px;
        font-family: Lato;
    }
}

.svg4{
    position: absolute;
    top: 50%;
    right: 10%; 
    width: 50px;
    height: 50px;
}

.svg3{
    position: absolute;
    top: 13%;
    right: 30%; 
    width: 50px;
    height: 50px;
}

.svg2{
    position: absolute;
    top: 13%;;
    left: 30%; 
    width: 50px;
    height: 50px;
}

.svg1{
    position: absolute;
    top: 50%;
    left: 10%;    
    width: 50px;
    height: 50px;
}

.mainTel{
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 115px;
    width: 100px;
}

.mainPc{
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: 81px;
    width: 140px;
}

.active {
	color: #585858;
    &::after{
        content: "";
        position: absolute;
        top: -55px;
        border-top: 15px solid transparent;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid white;
        left: 50%;
        transform: translateX(-50%);
    }
}
/*------end section------*/

@import "_media";